<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>List of cool songs</title>
    <meta name="description" content="kinda list of some songs">
    <meta name="author" content="TGIfr aka RuntimeJunky">
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<% include partials/header %>
<input type="hidden" id="tokenHolder" >
<script>

    let username = "<%= user.username%>" ;
    let password = "<%= user.passwordHash%>";
    var token =  'Basic ' + btoa(username + ":" + password);
    document.getElementById("tokenHolder").value = token;
//    console.log(token);
//    console.log(username);
//    console.log(password);

</script>



<script id="my-list-template" type="x-tmpl-mustache">
	<div id='filteredSongs'>
    {{#songs.length}}
    <div>
        <ul id='songs-list' class="list-group">
        {{#songs}}
            <li class="list-group-item">
                <a href="song/{{_id}}"><b>{{name}}</b></a>
                <span class='user-id'>(id: {{_id}})</span>
            </li>
        {{/songs}}
        </ul>
    </div>
    {{/songs.length}}
    {{^songs}}
    <h3>No songs found</h3>
    {{/songs}}
</div>

</script>

<div id='users' class='container'>
    <div class='page-header'>
        <h1>Songs</h1>
    </div>
    <div class='row'>
        <div class='col-md-8'>
            <div>
                <div class="form-group">
                    <form id='searchForm' action="/api/v1/search/"  >
                        <div class="col-sm-12">
                            <input type="text" name="name" value = "<%= search%>" >
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </form>
                </div>
                <hr/>
                <div id='filteredSongs'>
                    <!-- users here -->
                </div>
                <hr/>
            </div>

        </div>
        <div class='col-md-4'>
            <!-- right column -->
        </div>
    </div>
</div>

<script src="/js/index.js"></script>
<a href="/">Go back</a>


</body>
</html>