<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>List of cool songs</title>
    <meta name="description" content="kinda list of some songs">
    <meta name="author" content="TGIfr aka RuntimeJunky">
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet"/>
</head>
<body>
<div class="song-content">
    <h1>The list</h1>
</div>

<table id="list">
    <tr>
        <td>
            <img src="/images/0.jpg">
        </td>
        <td>
            <img src="/images/1.jpg">
        </td>
        <td>
            <img src="/images/2.jpg">
        </td>
        <td>
            <img src="/images/3.jpg">
        </td>
        <td>
            <img src="/images/4.jpg">
        </td>
    </tr>
    <tr id = "songNames">
        <td>
            <a href="song/0">Amsterdam</a>
        </td>
        <td>
            <a href="song/1">Sky is a neighbourhood</a>
        </td>
        <td>
            <a href="song/2">I wil follow you into the dark</a>
        </td>
        <td>
            <a href="song/3">Future people</a>
        </td>
        <td>
            <a href="song/4">Foxtrot Uniform Charlie Kilo</a>
        </td>
    </tr>
</table>

<a href="/">Go back</a>


</body>
</html>