<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Guess it</title>
    <meta name="description" content="FOXTROT UNIFORM CHARLIE KILO">
    <meta name="author" content="TGIfr aka RuntimeJunky">
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet"/>
</head>
<body>
<div class = "content">
    <h1>Such page don't exist</h1>
    <p>But here is a cat for you</p>
    <img src="http://thecatapi.com/api/images/get">
</div>

</body>
</html>